*{
    margin: 0px;
    padding: 0px;
}
@media (min-width:1024px) {
    .pc{
        display: flex;
    }
    .mobile{
        display: none;
    }
}
@media (max-width:1023px) {
    .pc{
        display: none;
    }
    .mobile{
        display: flex;
    }
}
